<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
				<key>dateExpires</key>
				<string>25/7/2020</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AD2D6743CCB301DF3B4CF4B8E2A3F49C7C7B97B</string>
						<key>dateExpires</key>
						<string>25/7/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>TCM8BVJ365</string>
						<key>name</key>
						<string>STEWARD BANK LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TCM8BVJ365.demo.simple.simpleApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TCM8BVJ365</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>TCM8BVJ365.demo.simple.simpleApp</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ff63d05a-7b53-424b-b3dd-401df3f4baab</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TCM8BVJ365</string>
				<key>name</key>
				<string>STEWARD BANK LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
